name: deploy documentation
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
    Deploy_Website:
      runs-on: ubuntu-latest
      container: 
          image: gilesgas/antora-with-openssh-client-and-lunr-integration
      steps:
        - uses: actions/checkout@master
          with: 
            persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
            fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
            ref: ${{ github.ref }}   
        - name: run playbook
          run: |
              antora antora-playbook.yml
        - name: Add files
          run: | 
            git add *
            git add README.md
        - name: Commit files
          run: |
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git commit -m "Add changes" --allow-empty
        - name: Pushing changes to gh-pages
          uses: ad-m/github-push-action@master          
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            branch: ${{ github.ref }}   
            force: true