name: deploy documentation
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
    Deploy_Website:
    runs-on: ubuntu-latest
        container: 
            image: antora/antora
        steps:
          - name: install npm packages
            run: |
                 antora antora-playbook.yml    